/*
 * 此处编辑主页样式表
 */

/* 设置body背景 */
body{
	background: url(../img/body-bg.png) repeat-x;
	height: 1500px;
}

/* 解决高度塌陷问题 */
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.clearfix{
	zoom: 1;
}

/* 固定元素宽度和居中 */
.w{
	width: 940px;
	margin: 0 auto;
}

/* 设置header */
.header{
	/* background-color: #bfa; */
	padding-top: 37px;
	padding-bottom: 46px;
}
/* 设置logo位置 */
.logo{
	margin-left: 15px;
}

/* 设置导航条 */
.nav{
	/* 向右浮动 */
	float: right;
	/* 设置上外边距 */
	margin-top: 22px;
}

.nav li{
	/* 设置向左浮动 */
	float:left;
	/* 设置左右内边距 */
	padding: 0 10px 8px;
	/* 设置左边框 */
	border-left: 1px #d6d6d6 dotted;
}

/* 设置导航条超链接 */
.nav a{
	/* 设置颜色字体去除下划线 */
	color: #666;
	font:bold 14px Georgia;
	text-decoration: none;
}

/* 设置超链接移入效果 */
.nav a:hover{
	color: #a1a1a1;
	text-decoration: underline;
}

/*
 * 设置小标题字体
 *	在chrome中最小显示12px 1-12px都显示为12px；
 */
.nav p{
	color:#b7b7b7;
	font:11px Tahoma;
}

/* 设置banner */
.banner{
	/* 设置高度 */
	height: 356px;
	background:url(../img/banner-bg.png) no-repeat bottom center;
	/* 开启相对定位 */
	position: relative;
}

/* 设置导航按钮 */
.pointer_div{
	/* 开启绝对定位 */
	position: absolute;
	/* 为导航点定位 */
	top: 314px;
	left: 15px;
}
.pointer_div a{
	float: left;
	width: 17px;
	height: 17px;
	background: url(../img/pointer.png) no-repeat;
	margin-left: 4px;
}

/* 设置超链接hover */
.pointer_div a.active,
.pointer_div a:hover{
	background: url(../img/pointer-active.png) no-repeat;
}

/* 设置content部分 */

.content h1{
	/* 设置居中和字体 */
	text-align: center;
	font:bold 24px Georgia;
	/* 设置内边距 */
	padding: 6px 0 20px 0;
	/* background */
	background: url(../img/line.png) no-repeat bottom center;
	/* 设置下外边距 */
	margin-bottom: 38px;
}

/* 中间的3个div */
.content .pl , .content .cs , .content .uc,
.contact .sc , .contact .nu , .contact .co
{
	/* 向左浮动 */
	float: left;
	width: 300px;
	/* background-color: yellow; */
}

.content .cs , .contact .co{
	margin:0px 20px;
}

/* 设置div中的标题 */
.content h2{
	color: #11719e;
	font: 21px Georgia;
}

.content .p1{
	color: #8c8c8c;
	font: 12px Helvetiva;
}

/* 设置图片div */
.content .imgDiv{
	width: 299px;
	height: 190px;
	background: url(../img/img-bg.png) no-repeat;
	/* 设置上下外边距 */
	margin: 16px 0 11px 0;

	/* 设置水平居中 */
	text-align: center;
	/* 设置上外边距 */
	padding-top: 12px;

}

/* 设置第二个段落 */
.content .p2{
	height: 92px;
	color: #3e3e3e;
	font: 13px Helvetiva;
}

/* 设置按钮样式 */
.content .a1{
	/* 设置块元素 */
	display: block;
	/* 设置宽高 */
	width: 163px;
	height: 40px;
	/* 背景 */
	background: url(../img/btn1.png) no-repeat;
	/* 下划线 */
	text-decoration: none;
	color: #016999;
	font: 12px/40px Helvetiva;
	text-indent: 1em;
	margin-bottom: 35px;
}



/* 设置背景 */
.contact{
	background: url(../img/line.png) no-repeat top center;
}

/* 设置联系栏表单项 */
.contact .txt{
	width: 286px;
	height: 33px;
	line-height: 33px;
	/* 设置背景图片 */
	background: url(../img/input.png) no-repeat;

	/*单独为IE6设置一个背景不随元素滚动*/
	_background-attachment: fixed;

	/* 去除默认边框 */
	border: none;

	/*  去除默认内边距 */
	padding: 0 5px;
	margin: 0px 0px 16px;
}

.contact .tarea{
	width: 276px;
	height: 114px;
	background: url(../img/textarea.png) no-repeat;
	/*单独为IE6设置一个背景不随元素滚动*/
	_background-attachment: fixed;

	border: none;
	/* 去除滚动条 */
	overflow: auto;
	/* 设置文本域不能调整大小 */
	resize: none;
	/* 去除默认内外边距 */
	padding: 10px;
	margin: 0;

	font-size: 18px;
}

.contact .btn{
	width: 163px;
	height: 32px;
	background: url(../img/btn2.png) no-repeat;
	border: none;
	margin: 11px 0 23px;

	/* 设置字体 */
	color: white;
	font: 13px Georgia;
	text-align: left;
	text-indent: 1em;

	/*
	 * cursor 可以用来设置鼠标指针样式
	 */
	cursor: pointer;  /* 小手 */
}

/* 设置标题 */
.contact h2{
	color: #444;
	font: 18px/1 Georgia;
	/* 设置下边框 */
	border-bottom: 1px dashed #d3d3d3;
	/* 设置上下内边距 */
	padding: 43px 0 10px 0;

	/* 设置下外边距 */
	margin-bottom: 15px;

	/* 去除默认内外边距 */
	/* padding: 0;
	margin: 0; */
}

/* 设置左侧联系栏 */
.sc .p1{
	color: #444;
	font: 12px/1 Helvetica;
	/* 设置上外边距 */

}

.icon{
	/* 设置字体大小为0 去除空格 */
	font-size: 0;
	margin-top: 4px;
}

.sc .icon a{
	/* 设置小图片距离 */
	margin-right: 6px;
}

/* 设置左侧第二个标题 */
.sc .nl{
	font: bold 18px/1 'Gill Sans MT';
	/* 设置内边距 */
	padding: 33px 0 10px;

}

/* 设置左侧表单项 */
.sc .txt{
	margin-top: 15px;
	/* IE6 上外边距 */
	_margin-top: 18px;
	margin-bottom: 3px;
}

/* 设置联系栏右侧 */
.nu p{
	color: #444;
	font: 12px/1 Helvetica;
	height: 58px;
	/* IE6 单独设置 */
	_height: 60px;
	/* 设置下边框 */
	border-bottom: 1px dashed #d3d3d3;
	margin-bottom: 14px;
	padding-bottom: 9px;
}
.nu img{
	float: left;
	margin-right: 8px;
}

.nu .no_margin{
	margin-bottom: 12px;
}

.nu .btn {
	margin-top: 0px;
}

/* 设置底部 */
.footer{
	background-color: #333;
	height: 173px;
	border-top: 10px solid #4c4c4c;
}

/* 设置底部文字样式 */
.footer a , .footer p{
	color: #999;
	font: 11px Helvetica;
	text-decoration: none;
}

/* 设置 a元素的 hover */
.footer a:hover{
	color: yellow;
	text-decoration: underline;
}

.footer p{
	margin-left: 8px;
	margin-right: 23px;
	margin-bottom: 6px;
}
.footer .w{
	padding-top: 18px;
}

.footer .copy{
	float: right;
}
